[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hvac = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
